setuptools
omegaconf
cloudpickle
fvcore
ftfy
tqdm
git+https://github.com/openai/CLIP.git
timm
transformers
datasets
black
ipython
ipykernel
ultralytics
more_itertools
wandb
accelerate
simple_parsing
natsort
einops
scipy
opencv-python-headless
hydra-core
SciencePlots
google-genai
openai
shapely
scikit-learn
hdbscan
umap-learn
uuid
plotly
polars
nvtx